.benvenuto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    background-color: azure;
}

.bio {
    height: 30vh;
    display: flex;
    align-items: center;  
}

.foglio {
    border: 0.5px solid rgb(61, 61, 61);
    padding: 5%;
}

.cv {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.btn {
    width: auto;
}