.benvenuto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    /* background: linear-gradient(to top, #e0e0e0, #a0a0a0); */
}

.bio {
    height: 30vh;
    display: flex;
    align-items: center;  
}

.foglio {
    border: 0.5px solid rgb(61, 61, 61);
    padding: 5%;
}

.cv {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.btn {
    width: auto;
}

.logo {
    width: 50%;
}

footer {
    background: linear-gradient(to bottom, #e0e0e0, #a0a0a0);
    padding: 5vh;
}

body {
    /* background: #e0e0e0; */
}

html, body, footer {
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, #8f8f8f, #484848);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}