.benvenuto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    background-color: azure;
}

.bio {
    height: 30vh;
    display: flex;
    align-items: center;  
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}
